*.swp
src/*.swp
src/*.o
src/*.la
src/*.lo
passes/*.swp
passes/*.lo
passes/*.o
passes/*.la
*.o *.lo
src/wldbg
m4/
config*
.kdev4/
Makefile
Makefile.in
wldbg.kdev4
.deps
.libs
aclocal.m4
autom4te.cache/
libtool
src/wldbg.pc
stamp-h1
